.my-form{
    background-color: #fffce4;
    color: #b98632;
}
.login{
    width: 30%;
}
/* tablet */
@media only screen and (min-width: 577px) and (max-width: 992px) {
    .login{
        width: 60%;
    }
}
/* mobile */
@media only screen and (max-width:576px) {
    .login{
        width: 95%;
    }
}