.my-card{
    background-color: #fffce4;
    border: 1px solid #ffc107;
    border-radius: 5px;
    color:#b4832c;
}
.my-small-button{
    border: none;
    border-radius: 5px;
    background-color: #ffbf0080;
    color: white;
    padding: 4px 8px;
}
.my-small-button:hover{
    border-radius: 5px;
    background-color:#ffc107 ;
    color: #ffffff;
    padding: 4px 8px;
}