.my-card{
    /* background-color: #665e1b3f; */
    color:#b4832c;
}
.my-small-button{
    border: 2px solid #dcbc4b;
    border-radius: 5px;
    background-color: #dcbc4b;
    color: white;
    padding: 3px 7px;
}
.my-small-button:hover{
    border: 2px solid #dcbc4b;
    border-radius: 5px;
    background-color: #ffffff;
    color: #dcbc4b;
    padding: 3px 7px;
}