.my-card{
    /* background-color: #665e1b3f; */
    color:#b4832c;
}
.my-small-button{
    border: 2px solid #ffbf0080;
    border-radius: 5px;
    background-color: #ffbf0080;
    color: white;
    padding: 3px 7px;
}
.my-small-button:hover{
    border: 2px solid #ffc107;
    border-radius: 5px;
    background-color:#ffc107 ;
    color: #ffffff;
    padding: 3px 7px;
}