.parallax {
    /* The image used */
    /* background-image: url(''); */
    background-image: url('../../images/banner1.jpg');
  /* background-color: aqua; */
    /* Full height */
    height: 450px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile-img{
    width: 280px;
  }

  @media only screen and (max-device-width: 1366px) {
    .parallax {
      height: 300px;
    }
    .profile-img{
      width: 150px;
    }
    .profile-para{
      width: 280px;
      
    }
  }